.left-sidebar, .right-sidebar {
  padding: 20px;
  background-color: #f8f9fa; 
  height: 100vh; 
}

.left-sidebar {
  position: fixed; 
  width: 20%; 
}

.right-sidebar {
  position: fixed; 
  right: 0; 
  width: 20%; 
}
